<!DOCTYPE html>
<html>
  <head>

    <title>CELL Project</title>

    <!-- Bootstrap 4.2.1 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>

  </head>
  <body>
  	
  	<!-- Error Messages -->
  	<div id="errorPage">
  		<h1><%= message %></h1>
  		<h2>Error <%= error.status %></h2>
  	</div>

	<!-- Link to CELL Home Page -->
	<div id="errorPage">
		<h2><a href="/">Click Here</a> to return to CELL.</h2>
	</div>

  </body>
</html>