<!DOCTYPE html>
<html>
  <head>

    <title>CELL Project</title>

    <!-- Bootstrap 4.2.1 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>

  </head>
  <body>
  	
  	<div class="container">
  		
		  <!-- Error Messages -->
    	<h1><%= message %></h1>
		  <h2><%= error.status %></h2>

  	</div>

  </body>
</html>