<!DOCTYPE html>
<html>
  <head>

    <title>Cell Bot</title>

    <!-- Bootstrap 4.2.1 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    
    <!-- Custom ICON -->
    <link rel='icon' type='image/ico' href='images/cell_logo_icon.ico'>

  </head>
  <body>

  	<!-- Bot Title, Version & Description -->
  	<div class="title">
  	<img src='images/CELL_logo_large.png' height='128px' width='128px'/><br><br>
		<h1>Cell Bot V.1.0</h1>
		<div id="info">
			<p>
				<br>
				Cell Bot is an interactive pen pal that you can chat with in English or French. Cell Bot also knows how to play hangman! If you don't know what a word means, try asking it to translate it for you. Have fun!<br><br>
				<p>
					This is version 1.0 of Cell Bot, released on 17/2/2019 in association with the University of British Columbia. Credit to the creation of Cell Bot goes to:<br><br>
					Eloïse E.<br>
					Everton S.<br>
					Josh H.<br>
					Noah C.<br>
					Trevor R.<br><br>
					
				</p>
			</p>
		</div>
	</div>
	
	<!-- ChatBot Container -->
	<div id="conv" class="msgContainer">
		<!-- Empty Div -->
	</div>

	<!-- User Input & Submit Button -->
	<div id="inputs">
		<input id="input" class="textBox" size="200" type="text">
		<input id="submit" class="" type="button" value="Send">
	</div>

	<!-- Importing Trie Strucure JS -->
	<script src="javascripts/ChatTrie.js"></script>

	<!-- Importing Bot Functionality JS -->
	<script src="javascripts/ChatBot.js"></script>
	
	<!-- Importing Hangman JS -->
	<script src="javascripts/Hangman.js"></script>

  </body>
</html>