<!DOCTYPE html>
<html>
  <head>

    <title>CELL - Home Page</title>
    <style>
    body{
      height: 100%;
      weight:100%;
      background-color: #FFFC80;
      color:black;
    }
    .col-sm,.col-sm-2{
      margin: 5px;
      border-radius: 10px;

    }

    #message{
      float: right;
      margin: 0 10% 0 0;
    }
    #userAv{
      height: 100px;
      width: 100px;
      margin-left: 25%;
      margin-right: 25%;
    }
    #leftBlock{
      background-color: white;
    }
    #gameBlock{
      background-color: white;
    }
    #messageBlock{
      background-color: white;
      color: black;
    }
    #userImg,#botImg{
      margin: 10px;
      height: 30px;
      width: 30px;
    }
    p{
      margin: inherit;
    }
    .botMessage{
      background-color: beige;
      border-color: black;
      border-width: medium;
      border-radius: 10px;
      margin: 10px;
      height:
    }
    .userMessage{
      background-color: #73A0FF;
      border-color: black;
      border-width: medium;
      border-radius: 10px;
      margin: 10px;

    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }




    </style>

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Bootstrap 4.2.1 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>
  <body class="bg-info">

  	<!-- Navbar -->
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="#">Navbar</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item active">
        			<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      			</li>
      			<li class="nav-item">
       				<a class="nav-link" href="#">Link</a>
      			</li>
      			<li class="nav-item dropdown">
        			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        				Dropdown
        			</a>
        			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          				<a class="dropdown-item" href="#">Action</a>
          				<a class="dropdown-item" href="#">Another action</a>
          				<div class="dropdown-divider"></div>
          				<a class="dropdown-item" href="#">Something else here</a>
        			</div>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link disabled" href="#">Disabled</a>
      			</li>
    		</ul>
    		<form class="form-inline my-2 my-lg-0">
      			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    		</form>
  		</div>
	</nav>


  <div class="row bg-info">
        <div id="leftBlock" class="col-sm">
          <img src="user2.png" alt="userAvatar" id="userAv">
          <p>Current user name</p>
        </div>

        <div id="gameBlock" class="col-sm">
          <p>Game runs inside this block</p>
        </div>

        <div id="messageBlock" class="col-sm">
          <p>This hold chat block</p>
        </div>
    </div>


	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  </body>
</html>
