<!DOCTYPE html>
<html>
  <head>

    <title>Cell Bot</title>
    
    <!-- font-awesome css for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap 4.2.1 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    
    <!-- Custom ICON -->
    <link rel='icon' type='image/ico' href='images/cell_logo_icon.ico'>
    
    <div id="voices">
	    <!-- Text to Speech API french female script-->
	    <script src="//code.responsivevoice.org/responsivevoice.js?key=L2VvYB5m"></script>
    </div>

  </head>
  <body>

	<!-- Bot Title, Version & Description -->
	<div id="title">
		<img src='images/CELL_logo_large.png' height='128px' width='128px'/><br><br>
		<h1>Cell Bot V.TR.1.0</h1>
		<div id="info">
			<p>
				<br>
				Cell Bot is an interactive pen pal that you can chat with in English or French. Cell Bot also knows how to play hangman! If you don't know what a word means, try asking it to translate it for you. Have fun!<br><br>
				<p>
					This is version 1.0 of Cell Bot, released on 17/2/2019 in association with the University of British Columbia. Credit to the creation of Cell Bot goes to:<br><br>
					Eloïse E.<br>
					Everton S.<br>
					Josh H.<br>
					Noah C.<br>
					Trevor R.<br><br>
					
				</p>
			</p>
		</div>
	</div>
	
	<div id="main-content">
		<!-- ChatBot Container -->
		<div id="conv" class="msgContainer">
			<!-- Empty Div -->
		</div>
	
		<!-- User Input & Submit Button -->
		<div id="inputs">
			<button id="voiceRec" onclick="recognition.start(); this.style='color:red'; setTimeout(resetVoiceRec,5000);">Voice <i class="fa fa-microphone"></i></button>
			<input id="input" class="textBox" size="200" type="text">
			<input id="submit" class="" type="button" value="Send"><br>
			<div style="width: 100%; text-align: center; color: white">
				Narration and Speech Recognition Language:
				<input id="toggleVoice" class="" type="button" value="Français">
			</div>
		</div>
	</div>

	<!-- Import synonyms functionality -->
	<script src="javascripts/synonyms.js"></script>
	<script src="javascripts/dictionary.js"></script>
	
	<!-- Importing Trie Strucure JS -->
	<script src="javascripts/ChatTrie.js"></script>

	<!-- Importing Bot Functionality JS -->
	<script src="javascripts/ChatBot.js"></script>
	
	<!-- Importing Hangman JS -->
	<script src="javascripts/Hangman.js"></script>
	
	<!-- Importing Voice Load JS -->
	<script src="javascripts/VoiceLoad.js"></script>
	
	<!-- Importing Voice Recognition Load JS -->
	<script src="javascripts/VoiceRecLoad.js"></script>

  </body>
</html>