<!DOCTYPE html>
<html>
  <head>

    <title>CELL Project</title>

    <!-- Bootstrap 4.2.1 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>

  </head>
  <body>

  	<!-- Bot Title & Version -->
  	<div class="title">
		<h1>Cell Bot P.1.0</h1>
	</div>
	
	<!-- ChatBot Container -->
	<div id="conv" class="msgContainer">
		<!-- Empty Div -->
	</div>

	<!-- User Input & Submit Button -->
	<div id="inputs">
		<input id="input" class="textBox" size="200" type="text">
		<input id="submit" class="" type="button" value="Send">
	</div>

	<!-- Importing Trie Strucure JS -->
	<script src="javascripts/ChatTrie.js"></script>

	<!-- Importing Bot Functionality JS -->
	<script src="javascripts/ChatBot.js"></script>
	
	<!-- Importing Hangman JS -->
	<script src="javascripts/Hangman.js"></script>

  </body>
</html>