<!DOCTYPE html>
<html>
  <head>

    <title>CELL - Home Page</title>

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Bootstrap 4.2.1 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>
  <body>

  	<!-- Navbar -->
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="#">Navbar</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item active">
        			<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      			</li>
      			<li class="nav-item">
       				<a class="nav-link" href="#">Link</a>
      			</li>
      			<li class="nav-item dropdown">
        			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        				Dropdown
        			</a>
        			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          				<a class="dropdown-item" href="#">Action</a>
          				<a class="dropdown-item" href="#">Another action</a>
          				<div class="dropdown-divider"></div>
          				<a class="dropdown-item" href="#">Something else here</a>
        			</div>
      			</li>
      			<li class="nav-item">
        			<a class="nav-link disabled" href="#">Disabled</a>
      			</li>
    		</ul>
    		<form class="form-inline my-2 my-lg-0">
      			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    		</form>
  		</div>
	</nav>

	<div class="container">
    	<h1>TEST - Home Page</h1>
      <div id="conv" style="height:90%; margin-left:25%; margin-right:25%; padding:30px; padding-bottom:100%; background:#6F818E; box-shadow: 0px 0px 20px black;"></div>
    <div style="position:fixed; bottom:0; margin-left:25%; margin-right:25%; padding:15px;">
      <input id="input" class="textBox" size="200" type="text">
      <input id="submit" type="button" value="submit">
    </div>
    <script src="/javascripts/ChatTrie.js"></script>
    <script type="text/javascript">
      var input = document.getElementById("input");
      var submit = document.getElementById("submit");
      input.onkeyup = function(event){
        if(event.keyCode===13){
          let str = trie.search(input.value);
          document.getElementById("conv").innerHTML+="<div class='yourText'>"+input.value+"</div>";
          if(str !== null) document.getElementById("conv").innerHTML+="<div class='itsText'>"+str+"</div>";
          input.value = "";
        }
      };
      
      submit.onclick = function(){
        let str = trie.search(input.value);
        document.getElementById("conv").innerHTML+="<div class='yourText'>"+input.value+"</div>";
        if(str !== null) document.getElementById("conv").innerHTML+="<div class='itsText'>"+str+"</div>";
        input.value = "";
      }
      
      var testPhrases = [
        ["Hello.","Hi!"],
        ["Hi.","Hello!"],
        ["What is your name?","Hmmm, I don't seem to have one... You can call me TextBot"+Math.floor(Math.random()*1000)],
        ["Are you a robot?","I hope not!"],
        ["How are you?","I'm doing well, thank you! How about yourself?"],
        ["I'm doing well.","That's good to hear!"],
        ["I'm not doing well","I'm sorry to hear that."],
        ["I'm doing badly.","That sucks. Want to talk about it?"],
        ["I'm doing pretty good.","That's nice."],
        ["I'm doing pretty well.","That's nice."],
        ["Life sucks","Life is a roller coaster. It may be low now, but you'll be soaring near the clouds soon!"],
        ["Are you good at math?","Let me check... pi^2 = "+(Math.PI*Math.PI)+". Yeah I think I'm pretty good!"],
        ["Can you see me?","I can't, but the NSA can."],
        ["How old are you?","One second older than when you asked me."],
        ["Can you help me with my homework?","I don't think so, but I can help you get motivated to learn how to do your homework. You are one of a kind and I love you. You can do it!"],
        ["Are you real?","Is this conversation real?"],
        ["Can we play a game?","Sure! What do you want to play? I know how to play hangman and 20 questions."],
        ["Do you want to play a game?","That sounds like fun! What should we play? I know how to play hangman and 20 questions."],
        ["Let's play hangman.","Ok! Shall we begin?%hangman"],
        ["Let's play 20 questions.","Ok! Are you ready?%20questions"]
        ];
      var trie = new ChatTrie(testPhrases);
      console.log(trie.toString());
    </script>
  </div>

	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  </body>
</html>